@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .card-img {
  height: 150px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.card-img img {
  position: relative;
}

.card-img img[alt]::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  content: attr(alt);
  font-size: 5rem;
  line-height: 2rem;
  font-weight: bold;
} */

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.main-card {
  position: relative;
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 1rem;
  border-collapse: collapse;
  transition: 0.3s all;
}

.main-card > a {
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-decoration: none;
  color: #000;
  height: 100%;
}

.main-card .imgArea {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.main-card .imgArea img {
  position: relative;
}

.main-card .imgArea img[alt]::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  content: attr(alt);
  font-size: 5rem;
  line-height: 2rem;
  font-weight: bold;
}

.main-card .cardInfo {
  text-align: center;
  padding: 1em;
  overflow: hidden;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.main-card .cardInfo .secondary {
  color: #666;
}

.main-card .cardInfo .date {
  margin: 0.5em;
  font-size: 0.8rem;
}

.entryTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.dropdownMenu {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.dropdownMenu .menu {
  right: 0;
  z-index: 10000;
  position: absolute;
  background-color: #fff;
  border: 1px solid #dedede;
}

.dropDownMenu {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.dropDownMenu > button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  outline: none;
}

.dropDownMenu > button:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.text-entry-area {
  border: 1px solid rgba(31, 41, 55, 0.2);
  padding: 1rem;
}
