.card {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  border-collapse: collapse;
  transition: 0.3s all;
}

.card a {
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-decoration: none;
  color: #000;
}

.card .imgArea {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.card .imgArea img {
  line-height: 200%;
  text-align: center;
  font-size: 5em;
  color: var(--secondary-color);
}

.card .cardInfo {
  background-color: var(--background-grey);
  text-align: center;
  padding: 1em;
}

.cardInfo .entryTitle {
  margin: 0.5em;
}

.entryTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.card:hover {
  border: 1px solid #dadad9;
}

.card .cardInfo .date {
  margin: 0.5em;
  font-size: 0.8rem;
}

.card.text {
  height: 100%;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card.text > * {
  margin: 1em;
}

.card.text .entryTitle {
  text-align: center;
}
