@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*,
html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --border-color: #dadada;
  --primary-color: #50287d;
  --secondary-color: #e8525f;
  --background-grey: #f7f7f7;
}

* {
  font-family: "Montserrat", sans-serif;
}

#App {
  display: grid;
  grid-template-columns: 1fr 20fr;
}

#page-wrap {
  margin: 2em;
}

.secondary {
  color: #616060;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1em;
  row-gap: 1em;
}

.list {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.list > div {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.intro {
  color: var(--secondary-color) !important;
}

.intro h3 {
  text-transform: uppercase;
  margin-top: 1em;
  text-align: center;
}

.intro p {
  padding: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  height: 100vh;
  /* padding-top: 1em;
  padding-bottom: 1em; */
}

.sidebar ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.sidebar ul li {
  list-style: none;
  transition: 0.3s all;
}

.sidebar .menu-item > * {
  display: block;
  color: #fff;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.menu-item .menu-item-icon {
  background-color: #441f6d;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.menu-item > span {
  margin-left: 10px;
}

.menu-item-active .menu-item-icon {
  background-color: var(--secondary-color);
}

.sidebar .menu-item-icon:hover {
  background-color: var(--secondary-color);
}

.sidebar .cta .menu-item-icon {
  padding: 1.2rem;
  font-size: 1.2rem;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  #App {
    display: block;
  }
}
