@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*,
html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --border-color: #f0f0ef;
  --primary-color: #50287d;
  --secondary-color: #e8525f;
  --background-grey: #f7f7f7;
}

* {
  font-family: "Montserrat", sans-serif;
}

#App {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

#page-wrap {
  height: 100vh;
  margin: 2em;
}

.secondary {
  color: #616060;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1em;
  row-gap: 1em;
}

.list {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.list > div {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sidebar {
  display: block;
  background-color: var(--primary-color);
  height: 100vh;
  padding: 30px 0;
}

.intro {
  color: var(--secondary-color) !important;
}

.intro h3 {
  text-transform: uppercase;
  margin-top: 1em;
  text-align: center;
}

.intro p {
  padding: 15px;
}

.sidebar ul {
  display: inline;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  transition: 0.3s all;
}

.sidebar ul li .menu-item > * {
  display: block;
  color: #fff;
}

.menu-item {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item > span {
  margin-left: 10px;
}

.sidebar ul li:hover {
  background-color: var(--secondary-color);
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  #App {
    display: block;
  }
}
