.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  height: 100vh;
}

.sidebar ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.sidebar ul li {
  list-style: none;
  transition: 0.3s all;
}

.sidebar .menu-item > * {
  display: block;
  color: #fff;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.menu-item .menu-item-icon {
  background-color: #441f6d;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.sidebar .menu-item > span {
  display: none;
}

.menu-item-active .menu-item-icon {
  background-color: var(--secondary-color);
}

.sidebar .menu-item-icon:hover {
  background-color: var(--secondary-color);
}

.sidebar .cta .menu-item-icon {
  padding: 1.2rem;
  font-size: 1.2rem;
}

.sidebar .closeButton {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 15px;
}

.sidebar .closeButton button {
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 1200px) {
  .sidebar .menu-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
  }

  .sidebar .menu-item > span {
    display: block;
  }
}
