@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  position: relative;
}

.main-card {
  position: relative;
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 1rem;
  border-collapse: collapse;
  transition: 0.3s all;
}

.main-card > a {
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-decoration: none;
  height: 100%;
}

.main-card .imgArea {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.main-card .imgArea img {
  position: relative;
  z-index: 0;
}

.main-card .imgArea img[alt]::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  content: attr(alt);
  font-size: 5rem;
  line-height: 2rem;
  font-weight: bold;
  z-index: 0;
}

.main-card .cardInfo {
  text-align: center;
  padding: 1em;
  overflow: hidden;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.main-card .cardInfo .secondary {
  color: #666;
}

.main-card .cardInfo .date {
  margin: 0.5em;
  font-size: 0.8rem;
  font-weight: lighter;
}

.entryTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.dropdownMenu {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.dropdownMenu .menu {
  right: 0;
  z-index: 999 !important;
  position: absolute;
  background-color: #fefefe;
  border: 1px solid #dedede;
}

.dropDownMenu {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.dropDownMenu > button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  outline: none;
}

.dropdownMenu ul li a:hover {
  color: #000;
}

.text-entry-area {
  border: 1px solid rgba(31, 41, 55, 0.2);
  padding: 1rem;
}

.homepage-main {
  z-index: 3;
  background-color: #e8525f;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 1fr;
}

.homepage-main .main-card {
  background-color: #fefefe;
  z-index: 2;
}

.homepage-main nav {
  color: #fefefe;
  z-index: 2;
}

.homepage-main .main-text {
  color: #fefefe;
  display: grid;
  place-items: center;
  z-index: 2;
}

.homepage-main .join {
  display: grid;
  place-items: center;
  color: #fefefe;
  z-index: 2;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #e8626e;
  width: 50vmax;
  z-index: 1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob2 {
  position: absolute;
  right: 0;
  fill: #fefefe;
  width: 25vmax;
  z-index: 1;
  fill: #6d429d;
}

.blob3 {
  position: absolute;
  bottom: 0;
  right: 0;
  fill: #dedede;
  z-index: -1;
  width: 25vmax;
}

footer p,
footer a {
  color: #fefefe;
}

@media screen and (max-width: 600px) {
  .homepage-main {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    grid-template-rows: 0.5fr 1fr 3fr 1fr;
  }

  .homepage-container {
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .homepage-main {
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr;
  }
}
